.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: indianred;

  &.checked-in {
    background-color: darkseagreen;
  }
}

button {
  margin-right: 5px;
}
